<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881111050780-cbas6m57b9cg8n02fkog8em80ce5cv94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881111050780-cbas6m57b9cg8n02fkog8em80ce5cv94</string>
	<key>API_KEY</key>
	<string>AIzaSyDnFWrHYufBtmUobeXvRIbnz_YCp3qQSIo</string>
	<key>GCM_SENDER_ID</key>
	<string>881111050780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cours.coursFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-13e36</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-13e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881111050780:ios:cde320596dc7a2e0128dd9</string>
</dict>
</plist>