<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881111050780-2as3gko5007cf13g75dturn7jrnic3ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881111050780-2as3gko5007cf13g75dturn7jrnic3ij</string>
	<key>API_KEY</key>
	<string>AIzaSyDnFWrHYufBtmUobeXvRIbnz_YCp3qQSIo</string>
	<key>GCM_SENDER_ID</key>
	<string>881111050780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cours.coursFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-13e36</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-13e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881111050780:ios:d69dd077c7794f4f128dd9</string>
</dict>
</plist>